/*
    ==================================
    CSS RESET
    ==================================
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    ===================================
    ROOT & UTILITIES
    ===================================
*/

:root {
    --bg-ps-plus-section: #bebcbb;
    --bg-ps-now-section: #161c3b;
    --bg-footer: #00439c;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

img {
    display: block;
}

.b-radius {
    border-radius: 20px;
}

.l-height-1 {
    line-height: 1.2;
}

.fs-title-primary {
    font-size: 35px;
}

.fs-title-secondary {
    font-size: 30px;
}

/*
    ===================================
    HEADER
    ===================================
*/

/*
    Hello bar Sony
*/

.sony-logo {
    width: 80px;
}

/*
    Navbar
*/

.navbar-nav .dropdown-toggle::after {
    border: none;
    display: inline-block !important;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    transition: transform 0.2s ease-in-out;
}

.navbar-nav .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.container-img-menu img {
    width: 40px;
    aspect-ratio: 1;
}

.container-icon-search img {
    width: 20px;
}

.nav-right .btn-access {
    padding-top: 5px;
}

.nav-right .btn-search {
    padding-top: 3px;
}

/*
    =========================
    SEZIONE TRENDING GAME
    =========================
*/

/* Header */
.container-img-trending-games,
.container-img-it-takes-two-games {
    height: 500px;
    overflow: hidden;
}

.container-img-trending-games img,
.container-img-it-takes-two-games img {
    width: 100%;
    object-fit: cover;
}

.container-img-it-takes-two-games img,
.container-img-trending-games img {
    height: 100%;
    object-position: center;
}

.container-banner-returnal img {
    width: 250px;
    margin-bottom: 20px;
}

.container-description-game {
    bottom: 0;
}

/* Gallery */

/*
    =============================
    SEZIONE CONSOLE PS5
    =============================
*/

.section-console-ps5 span {
    font-size: 14px;
    font-weight: 600;
}

/* Galleria accessori */

.nav-pills .nav-link {
    background: none !important;
    border: none !important;
    opacity: 0.5;
    transition: border-color 0.3s ease;
}

.naw-pills img {
    width: 200px;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
    border-bottom: 3px solid blue !important;
    opacity: 1;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transform: translatey(-3px);
}

/*
    ================================
    SEZIONE PS4
    ================================
*/

.icon-title-section-ps4 {
    transform: translate(-5px, -8px);
    font-size: 20px;
}

.txt-header-card-ps4 {
    line-height: 1.1;
}

/*
    ===================================
    SEZIONE PS PLUS
    ===================================
*/

.ps-plus {
    background-color: var(--bg-ps-plus-section);
}

.ps-now {
    background-color: var(--bg-ps-now-section);
}

.logo-ps-plus,
.logo-ps-now {
    width: 300px;
    padding: 35px 0;
}

.container-img-shortcut img {
    object-fit: contain;
}

/*
    =======================================
    FOOTER
    =======================================
*/

footer {
    background-color: var(--bg-footer);
}

.footer-world {
    width: 15px;
    margin-right: 5px;
}

.sie-logo {
    width: 100px;
}

.txt-copyright {
    font-size: 10px;
}