/*
    ==================================
    CSS RESET
    ==================================
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    ===================================
    ROOT & UTILITIES
    ===================================
*/

:root {
    --bg-ps-plus-section: #bebcbb;
    --bg-ps-now-section: #161c3b;
    --bg-footer: #00439c;
    --dot: "•";
    --color-dot: #0070d1;
    --color-navlink-HV: #0070d1;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

img {
    display: block;
}

.b-radius {
    border-radius: 20px;
}

.l-height-1 {
    line-height: 1.2;
}

.fs-title-primary {
    font-size: 2rem;
    font-weight: 700;
}

.fs-description {
    font-size: 0.875rem;
}

.fs-title-secondary {
    font-size: 1.75rem;
}

.dot-blue::before {
    content: var(--dot);
    color: var(--color-dot);
    font-weight: bold;
    display: inline-block;
    margin-right: 8px;
}

/*
    ===================================
    HEADER
    ===================================
*/

/*
    Hello bar Sony
*/

.sony-logo {
    width: 80px;
}

/*
    Navbar
*/

.navbar-nav .dropdown-toggle::after {
    border: none;
    display: inline-block !important;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    transition: transform 0.2s ease-in-out;
}

.navbar-nav .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: none;
    border-radius: 0;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: var(--color-navlink-HV) !important;
}

.container-img-menu img {
    width: 40px;
    aspect-ratio: 1;
}

.container-icon-search img {
    width: 20px;
}

.nav-right .btn-access {
    padding-top: 5px;
}

.nav-right .btn-search {
    padding-top: 3px;
}

/*
    =========================
    SEZIONE TRENDING GAME
    =========================
*/

/* Header */

.wrapper-returnal {
    background-image: url("../img/jumbo-bg.png");
    min-height: 500px;
    background-position: top;
    background-size: cover;
}

.container-banner-returnal img {
    width: 250px;
    margin-bottom: 20px;
}

.container-description-game {
    bottom: 0;
    left: 0;
}

.btn-trending-game {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-trending-game:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Gallery */

/*
    =============================
    SEZIONE CONSOLE PS5
    =============================
*/

.txt-header-ps5 {
    font-size: 0.75rem;
    font-weight: bold;
}

.txt-button-navtabs {
    font-size: 0.875rem;
}

.btn {
    font-size: 0.938rem;
    font-weight: bold;
}

/* Galleria accessori */

.nav-pills .nav-link {
    background: none !important;
    border: none !important;
    opacity: 0.5;
    transition: border-color 0.3s ease;
}

.naw-pills img {
    width: 200px;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
    border-bottom: 3px solid blue !important;
    opacity: 1;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transform: translatey(-3px);
}

.btn-ps5-accessories,
.btn-ps-plus,
.btn-ps-now {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    ;
}

.btn-ps5-accessories:hover,
.btn-ps-plus:hover,
.btn-ps-now:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 20px 38px rgba(0, 112, 209, 0.2), 0 15px 12px rgba(0, 0, 0, 0.12);
}

.btn-new-releases {
    transition: transform 0.3s ease;
}

.btn-new-releases:hover {
    transform: scale(1.05);
    border: 2px solid #fff;
}

/*
    ================================
    SEZIONE PS4
    ================================
*/

.icon-title-section-ps4 {
    transform: translate(-5px, -8px);
    font-size: 20px;
}

.txt-header-card-ps4 {
    line-height: 1.1;
}

.card-ps4-accessories {
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-ps4-accessories:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/*
    ===================================
    SEZIONE PS PLUS
    ===================================
*/

.ps-plus {
    background-color: var(--bg-ps-plus-section);
}

.ps-now {
    background-color: var(--bg-ps-now-section);
}

.logo-ps-plus,
.logo-ps-now {
    width: 300px;
    padding: 20px 0;
}

.container-img-shortcut img {
    object-fit: contain;
}

/*
    =====================================
    SEZIONE PROMOZIONI
    =====================================
*/

.shortcuts-card {
    display: inline-block;
    transition: transform 0.3s ease;
}

.shortcuts-card:hover {
    transform: scale(1.05);
}

/*
    ======================================
    SEZIONE SOCIAL
    ======================================
*/

.social-links {
    display: inline-block;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.social-links:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px var(--icon-color);
}

.link-twitter:hover {
    --icon-color: rgba(29, 161, 242, 0.45);
}

.link-facebook {
    --icon-color: rgba(24, 119, 242, 0.45);
}

.link-instagram {
    --icon-color: rgba(225, 48, 108, 0.45);
}

.link-youtube {
    --icon-color: rgba(255, 0, 0, 0.45);
}

/*
    =======================================
    FOOTER
    =======================================
*/

footer {
    background-color: var(--bg-footer);
}

.footer-world {
    width: 15px;
    margin-right: 5px;
}

.sie-logo {
    width: 100px;
}

.txt-copyright,
.txt-country-language {
    font-size: 10px;
}