/*
    ==================================
    CSS RESET
    ==================================
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    ===================================
    ROOT & UTILITIES
    ===================================
*/

:root {}

img {
    display: block;
}

/*
    ===================================
    HEADER
    ===================================
*/

/*
    Hello bar Sony
*/

.sony-logo {
    width: 80px;
}

/*
    Navbar
*/

.navbar-nav .dropdown-toggle::after {
    border: none;
    display: inline-block !important;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    transition: transform 0.2s ease-in-out;
}

.navbar-nav .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.container-img-menu img {
    width: 40px;
    aspect-ratio: 1;
}

.container-icon-search img {
    width: 20px;
}

.nav-right .btn-access {
    padding-top: 5px;
}

.nav-right .btn-search {
    padding-top: 3px;
}